@charset "UTF-8";

body{
    background-color: #707070 ;
    height: 100vh;
}

.main-page{
    display: flex;
}


.main{
    width: 80VW;
    height: 100vh;
    margin-right: 0px;
    margin-left: auto;
}

.title-h1{
    font-size: clamp(5rem, 7rem, 9rem); 
    color: #707070;
    padding-top: 10rem;
    text-align: center;
}

/* ==========about========== */

.aboutme{
    background-image: url(../imgs/aboutbackground.png);
    background-size: cover;
    height: 100vh;
    width: auto;
}

.mebox{
    margin-top: 5rem;
    display: flex;
    gap: 5rem;
    justify-content: center;
}

.me{
    max-width: 400px;
    max-width: 600px;
    height: auto;
    border-radius: 10px;
}

.text{
    margin-top: 2rem;
    max-width: 400px;
}

.me_p{
    font-size: clamp(1.5rem, 2.5vw, 3rem); 
    color: #707070;
    line-height: 1.5;
}

.me_personal{
    padding-top: 0.5rem;
    font-size: clamp(1.5rem, 2.5vw, 3rem); 
    color: #707070;
    line-height: 1.5;
}

.yajirusipic{
    position: absolute;
    bottom: 0;
    left: 60%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    margin-bottom: 3rem;
}

.yajirusi{
    max-width: 100px;
    height: auto;
}
/* ==================== */

/* ==========hobby========== */
.hobbyme{
    padding-bottom: 10rem;
}

#subtitle-h1{
    font-size: clamp(5rem, 7rem, 9rem); 
    color: #fff;
    padding-top: 10rem;
    text-align: center;
}

.hobbybox{
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
}

.hobby_pbox{
    max-width: 400px;
    margin-top: 3rem;
}

.hobby_p{
    font-size: clamp(1.5rem, 2.5vw, 2.5rem);
    color: #fff;
    line-height: 1.5;
}

.hobby_p span{
    font-size: clamp(4rem, 2.5vw, 5rem);
    color: #BFD2FF;
}

.hobby{
    max-width: 300px;
    height: auto;
    border-radius: 10px;
}