@charset "UTF-8";

body{
    background-color: #333 ;
    height: 100vh;
}

.main-page{
    display: flex;
}

/* ==========ヘッダー========== */

#header{
    width: 20vw;
    height: 100vh;
    background-color: #E3EBFF;
    position:fixed;
}

.headerbox{
    padding: 5rem 3rem;
}

.menus{
    padding-top: 5rem;
}

.menu{
    font-size: clamp(3rem, 2.5vw, 4rem); 
    color: #707070;
    margin-bottom: 4rem;
}

.namelogo{
    height: auto;
    max-width: 30rem;
    min-width: 5rem;
}

.menucontact{
    color: #b4b4b4;
}

.menu-bt {
    position: relative;
    display: inline-block;
}
.menu-bt::after {
    position: absolute;
    bottom: -10px;
    left: 0;
    content: '';
    width: 0;
    height: 10px;
    background-color: #fff;
    transition: .3s;
    border-radius: 10px;
}
.menu-bt:hover::after {
    width: 100%;
}
/* ====================  */

.main{
    background-color: #333 ;
    width: 80VW;
    height: 100vh;
    margin-right: 0;
    margin-left: auto;
}

.title-h1{
    font-size: clamp(5rem, 7rem, 9rem); 
    color: #fff;
    margin-top: 10rem;
    text-align: center;
}

/* ==========form==========  */

.custom-field {
    position: relative;
    font-size: clamp(1.5rem, 2.5vw, 2.5rem);
    padding-top: 20px;
    margin: 5rem;
    text-align: center;
}

.custom-field input {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none ;
    appearance: none;
    outline: none;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    min-width: 200px;
    font-size: clamp(1.5rem, 2.5vw, 2.5rem);
    text-align: left;
}

.big input{
    padding-bottom: 10rem;
}

.custom-field .placeholder {
    position: absolute;
    left: 12%;
    top: calc(50% + 10px);
    transform: translateY(-50%);
    color: #aaa ;
    transition: 
        top 0.3s ease-in-out,
        font-size 0.3s ease-in-out,
        color 0.3s ease-in-out;
}

.custom-field input:valid + .placeholder,
.custom-field input:focus + .placeholder {
    top: 0rem;
    font-size: clamp(1.5rem, 2.5vw, 2.5rem);
    color: #fff;
}

/* ====================  */

/* =========button===========  */

.buttonbox{
    margin-top: 10rem;
    padding-bottom: 10rem;
    text-align: center;
}

.btn,
a.btn,
button.btn {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    display: inline-block;
    padding: 1rem 4rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #fff;
    border-radius: 0.5rem;
}

a.btn-flat {
    overflow: hidden;
    padding: 1.5rem 6rem;
    border-radius: 10px;
    background: #fff;
}

a.btn-flat span {
    position: relative;
    color: #707070;
}

a.btn-flat:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    content: '';
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-80%) translateY(-25px);
    transform: translateX(-80%) translateY(-25px);
    border-radius: 50%;
    background: #E3EBFF;
    color: #fff;
}

a.btn-flat:hover:before {
    width: 400px;
    height: 400px;
    -webkit-transform: translateX(-1%) translateY(-175px);
    transform: translateX(-1%) translateY(-175px);
}


/* ====================  */
